{
    "extends": ["@antfu"],
    "ignorePatterns": [
        "src/aws-exports.js",
        "src/API.ts",
        "index.html",
        "src/graphql/queries.ts",
        "src/graphql/mutations.ts",
        "src/graphql/subscriptions.ts"
    ]
}
